<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="home.html"
>
<head>
    <meta charset="UTF-8">
    <title>Nouveau Concours </title>
    <style>

    </style>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">  </head>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-header">Nouveau Concours </div>
                <div class="card-body">
                    <div class="p-9">
                        <form method="post" th:action="@{saveConcours}">
                            <div class="mb-2">
                                <label for="nom" class="form-label">Nom:</label>
                                <input type="text" class="form-control" id="nom" placeholder="Nom" name="nom"th:value="${concours.nom}">
                            </div>
                            <div class="mb-2">
                                <label for="reference" class="form-label">Reference:</label>
                                <input type="text" class="form-control" id="reference" placeholder="Reference "
                                       name="reference" th:value="${concours.reference}">
                            </div>
                            <div class="mb-2">
                                <label for="description" class="form-label">Description:</label>
                                <input type="text" class="form-control" id="description" placeholder="Description"
                                       name="description" th:value="${concours.description}">
                            </div>
                            <div class="mb-2">
                                <label for="nbreEtudiantAdmisOrale" class="form-label">EtudiantAdmisOrale:</label>
                                <input type="text" class="form-control" id="nbreEtudiantAdmisOrale" placeholder="EtudiantAdmisOrale"
                                       name="nbreEtudiantAdmisOrale" th:value="${concours.nbreEtudiantAdmisOrale}">
                            </div>
                            <div class="mb-2">
                                <label for="nbreEtudiantAdmisEcrit" class="form-label">EtudiantAdmisEcrit:</label>
                                <input type="text" class="form-control" id="nbreEtudiantAdmisEcrit" placeholder="nbreEtudiantAdmisEcrit"
                                       name="nbreEtudiantAdmisEcrit" th:value="${concours.nbreEtudiantAdmisEcrit}">
                            </div>
                            <div class="mb-2">
                                <label for="nbreEtudiantAdmis" class="form-label">EtudiantAdmis:</label>
                                <input type="text" class="form-control" id="nbreEtudiantAdmis" placeholder="nbreEtudiantAdmis"
                                       name="nbreEtudiantAdmis" th:value="${concours.nbreEtudiantAdmis}">
                            </div>

                            <div class="mb-2">
                                <label for="annee" class="form-label">Annee:</label>
                                <input type="text" class="form-control" id="annee" placeholder="annee"
                                       name="annee" th:value="${concours.annee}">
                            </div>

                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>